header h1 {
  text-align: center;
  padding: 3vw;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #e0dfdc;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #010101, 2px 2px 2px rgba(206, 206, 206, 0);
}

.home {
  background: rgb(56, 83, 83);
  background: linear-gradient(
    0deg,
    rgba(56, 83, 83, 1) 0%,
    rgba(213, 213, 213, 1) 100%
  );
  min-height: 100vh;
}
